<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/reset_plus.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Kaushan+Script&display=swap" rel="stylesheet">
    {% include "partials/shapes.html" %}
		<script src="/js/script.js" defer></script>
		<style>{{ custom_css }}</style>
    {% if css_extra %}
      <link rel="stylesheet" href="{{ css_extra }}" />
    {% endif %}
  </head>
  <body>
    {% include "partials/shapes.html" %}
    {% include "partials/stripes.html" %}
		<header>
			{% include "partials/header.html" %}
		</header>
    <main>
  		{% block content %}{% endblock %}
		</main>
  </body>
</html>
