.achtergrond {
  position:absolute;
}

.deel4{
  display: none;
}

.deel5{
  display: none;
}

.deel6{
  display: none;
}

.deel7{
  display: none;
}

.deel8{
  display: none;
}

.deel9{
  display: none;
}
